/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#adminmenu a.toplevel_page_ays-pb div.wp-menu-image img{
    width: 32px;
    padding: 2px 0 0;
}

.popup_attribute_label{
    display: block;
    margin-bottom: 20px;
}

.popup_attribute_label span{
    font-weight: 600;
    font-size: 17px;
}

input[type='number'].popup_attribute_input,
input[type='text'].popup_attribute_input,
textarea.popup_attribute_input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    height: auto;
}

textarea.popup_attribute_input{
    height: 100px;
    resize: none;
}

h1.ays-popup-box-menu-title {
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
}

div.ays-popup-wrapper {
    padding: 20px;
}